@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&display=swap');


body,
html {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    width: 100vw;
    font-family: 'Hind', sans-serif;
}

.search_container {
    display: flex;
    /* border: 1px solid red; */
}

.header {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    /* padding: 16px; */
}

.display_weather_container {
    margin-top: 5%;
    display: flex;
    width: 99%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.13);
}

.display_weather {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
}

.error-container {
    padding-top: 15px;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.2s;
}

.animate {
    opacity: 1;
    transition: all ease-in-out 0.2s;
    visibility: visible;
}

.display_location {
    font-size: 56px;
}

.weather_description {
    font-size: 35px;
}

.location-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer {
    background-color: rgba(240, 248, 255, 0.067);
    margin-top: auto;
}
a:link, a:visited {
    text-decoration: none;
}